/*styling for whole page */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*just the background color for site */
body {
  background-color: #d9dcd6;
}

/* styling for the header of the page */
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/*styling for the outside letters of company name */
#company {
  display: inline-block;
  font-size: 48px;
}

/*styling for the middle 3 letters of company name */
#company span {
  color: #d9dcd6;
}

.header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  font-size: 20px;
}

/*formatting for the list */
ul {
  list-style-type: none;
  position: absolute;
  right: 40px;
  font-size: 20px;
  display: inline-block;
  margin-left: 25px;
  padding-top: 15px;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
}

/*formatting for the list items */
ul li {
  display: inline-block;
  margin-left: 25px;
}

.link {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

/*added a alt tag in here on this picture */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
  alt: "meeting";
}

/*content contains the services offerings for the company */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/*content contains the benefits of enlsting the services of the company */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/*individual benefits styling */
.benefit {
  margin-bottom: 32px;
  color: #ffffff;
}

.bullet {
  margin-bottom: 10px;
  text-align: center;
}

.icon {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/*styling for the services offerings for the company */
.services {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/*styling for each individ. service offering for the company */
.service {
  margin-bottom: 20px;
  font-size: 36px;
}

/*class for the images that float to the left of the text */
.float-left {
  float: left;
  margin-right: 25px;
  max-height: 200px;
}

/*class for the images that float to the right of the text */
.float-right {
  float: right;
  margin-left: 25px;
  max-height: 200px;
}

/*styling for the footer of page on bottom */
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

#made-by {
  font-size: 20px;
}
